<!DOCTYPE html>
<html ng-app="app">
<head>

<base href="" />
<meta name="fragment" content="" />

<title>HighCharts</title>
<meta content="" name="description">

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<meta content="#000000" name="theme-color">

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

	<div class="main-content" id="app">

		<div class="chart">
			<div class="chart-heading">
				<h3 class="title remove-margin">{{chart.title}} <small>{{chart.start_date}} - {{chart.end_date}}</small></h3>
				{{chart.subtitle}}
			</div>
			<div class="chart-body" id="highchart-container"></div>
		</div>

	</div>

<!-- js -->
<script type="text/javascript" src="libs.js"></script>
<script type="text/javascript" src="js.js"></script>
</body>
</html>
