$border-radius: 4px;

html, body{
	height: 100%;

	font-family: 'Helvetica', sans-serif;
}

.main-content{
	padding: 15px;

	> .chart{
		border: 1px solid $gray-lighter;
		border-radius: $border-radius;
		box-shadow: 0 2px 4px rgba(black, .1);

		> .chart-heading{
			padding: 15px;

			color: $gray;

			background-color: $gray-lightest;
			border-bottom: 1px solid $gray-lighter;
			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;

			> .title{
				color: $gray-dark;
				font-size: 24px;
				font-weight: bold;
				text-transform: uppercase;

				> small{
					color: $gray-light;
					font-size: 75%;
					font-weight: normal;
				}
			}
		}

		> .chart-body{
			padding: 15px;
		}
	}
}